flask
werkzeug
pylint
pylint-venv
numpy
opencv-python-headless
keras
datasets
torch==2.6.0
pillow
torchvision==0.21.0
kagglehub
Image
transforms
# secure_filename
dotenv
fastapi
uvicorn
tdqm
tqdm
#shutil
flask-cors
transformers

