flask
werkzeug
pylint
pylint-venv
numpy
opencv-python-headless
keras
datasets
torch>=2.0
pillow
torchvision>=0.15
kagglehub
Image
transforms
# secure_filename
dotenv
fastapi
uvicorn
tdqm
tqdm
#shutil
flask-cors
transformers>=4.30
pillow-heif>=0.7
ollama
scikit-learn