/* General Container */
body {
    background-color: black;
}

.container {
    max-width: 60%;
    max-height: 40%;
    margin: 80px auto;
    text-align: center;
    margin-top: 25vh;
}

/* Header Styling */
.header {
    font-size: 32px;
    color: #2c7a7b;
    text-decoration: underline;
    margin-bottom: 15px;
}

/* Subtext */
.subtext {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
}

/* Disease List (Scroll Section) */
.disease-list {
    display: flex;
    list-style: none;
    height: 255px;
    overflow-x: scroll;
    padding: 20px 0;
    flex: 0 0 600px;
    margin: 0 auto;
    gap: 20px;
    scroll-snap-type: x mandatory;
    font-size: 18px;
}

/* Scrollbar Customization */
.disease-list::-webkit-scrollbar {
    height: 10px;
    background: #eee;
}

.disease-list::-webkit-scrollbar-thumb {
    background: #2c7a7b;
    border-radius: 10px;
}

.disease-item h3 {
    font-weight: bold;
    color: green;
}

/* Disease Items */
.disease-item {
    width: 230px;
    background: #000000ea;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    scroll-snap-align: center;
    /* transition: transform 0.2s ease-in-out; */
}

.disease-item:hover {
    transform: scale(1.1);
    background: #2a3c3c;
}